body > div > div > div.main-app > div.sidebar-container {
    height: 100%;
    width: 30%;
    padding: 0;
    float: left;
}

body > div > div > div.main-app > div.map-container {
    height: 100%;
    width: 70%;
    padding: 0;
    float: right;
}