body > div {
    height: 100%;
}
body > div > div {
    height: 100%;
}

body > div > div > div.login-container {
    height: 100%;
    overflow: hidden;
    background: #2c2e43;
} 
body > div > div > div.login-container > div.login-form {
    height: 100%;
    width: 100%;
    overflow: hidden;   
    position: absolute; 
}